body{
    font-family: 'Rubik Mono One', sans-serif;
    background-color: rgba(15, 133, 103, 0.5);
}

.submit{
    background-color: rgb(161, 101, 240);
    color: white;
}


/* NavBar Styling */
.ui.menu:first-child {
    margin-top: 0;
    margin-bottom: 0;
}

.titleTwo{
    font-family: 'Monoton', cursive;
    font-size: 60px;
    letter-spacing: 7px;
}

/* Jumbotron/Message styling */
.ui.message.message-container {
    text-align: center;
    padding: 50px;
    box-shadow: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.671);
    color: rgb(182, 150, 224);
    
    z-index: 1;
    position: absolute;
    top: 10%;
    left: 25%;
    right: 25%;


}
/* UserForm styling */
.form-container{
    text-align: center;
    width: 300px;
    margin: 0 auto;
    padding-top: 50px;
}
/* UserForm alert message */
.ui.alertMssg {
    margin-top: 0;
    margin-bottom: 1em;
    text-align: center;
}
