
.pic{
   float: left;
}

.name{
   font-size: 40px;
  color:  #b696e0;
}

.location{
   font-size: 25px;
   color: black;
}

.info{
   margin-top: 40px;
   float: left;
   width: 100%;
   height: 80%;
   color: black;
}

.form{
   margin-top: 40px;
  width: 500px;
}

 .image-text-container{
     display: flex;
 }
 
 .about{
    padding: 30px;
    font-size: 21px ;
 }
 
 
 .list{
    clear: both;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.397);
    color: black;
 }

 .avatar-upload {
    color: grey;
 }


 p.update-title{
margin-bottom: 30px;
 }


 .update{
border: black;
border-style: solid;
height: 20%;
width: 55%;
margin: 75px;
margin-left: 20%;
 }

 .fill-name{
   float: left;
   border-radius: 5px;
  font-size: 20px;
  margin-bottom: 20px;
  background-color:  #b696e0;

}
.fill-loc{
   float: right;
   border-radius: 5px;
  font-size: 20px;
  margin-bottom: 20px;
  background-color:  #b696e0;
 
}
.fill-bio{
   border-radius: 5px;
  font-size: 15px;
  width: 100%;
  background-color:  #b696e0;
  height: 300px;
  
}