.card {
  background-position: center;
  background-color: rgba(0, 0, 0, 0.356);
  border: 6px solid rgba(255, 255, 255, 0.418);
  height: 65%;
  width: 85%;
  color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  position: relative;
  margin: 0 auto;
  margin-top: 55px;
  padding-left: 10px;
  box-shadow: 0px 0px 0px red;
}

