.title-new {
    font-size: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: 'Monoton', cursive;
    font-size: 80px;
    text-align: center;
    color:  rgb(182, 150, 224);
    background-color: rgba(0, 0, 0, 0.534);
    letter-spacing: 7px;
}

h5 {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#newsesh-card-1, #newsesh-card-2 {
    background-color:  #b696e0;
    
}
.card-container {
    border-color: white;
    border-style: solid;
    box-shadow: 0 5px 10px 2px rgba(195,192,192,.5);
    margin: 30px;
}

